<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qk.mapper.RoleMapper">
    <select id="selectByCondition" resultType="com.qk.entity.Role">
        SELECT id, name, label, create_time, update_time FROM role
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="label != null and label != ''">
                AND label LIKE CONCAT('%', #{label}, '%')
            </if>
        </where>
    </select>
</mapper>